<h1>Family Friday</h1>

<% @employees.each do |employee| %>
  <p> Title: <%= employee.title %> </p>
  <p> First Name: <%= employee.first_name %> </p>
  <p> Last Name: <%= employee.last_name %> </p>
  <br>
<% end %>
