<h1>Family Friday</h1>
<img src="http://i.giphy.com/SPZFhfUJjsJO0.gif" alt="learning internet" style="width: 300px">

<% @employees.each do |employee| %>
  <p> Title: <%= employee.title %> </p>
  <p> First Name: <%= employee.first_name %> </p>
  <p> Last Name: <%= employee.last_name %> </p>
  <br>
<% end %>
